<h1>Edit page for : <%= @survey.name() %></h1>

<h3>Rename Survey</h3>

<form action="/edit_survey" method="post">
  <input name="_method" type="hidden" value="patch">
  <input name="survey_id" value="<%= @survey.id() %>" type="hidden">

  <div class="form-group">
    <label for="new_name">Rewrite Name</label>
    <input name="new_name" id="new_name" class="form-group" type="text">
  </div>

  <button type="submit" class="btn btn-warning">Edit Survey</button>

</form>

<form action='/delete_survey' method="post">
  <input name='_method' type="hidden" value='delete'>
  <input name= 'survey_id' value='<%= @survey.id() %>' type='hidden'>

  <button type="submit" class="btn btn-danger">Delete Survey</button>

</form> 
