<h1>Edit Survey:<%= @survey.name() %></h1>

<h3>Here are your questions!</h3>

<form action= "/questions" method="post">
  <input value="<%= @survey.id() %>" name="survey_id" type="hidden">
  <div class="form-group">
    <label for="description">Add your Question here!</label>
    <input name="description" id="description" type ="text">
  </div>
  <button type="submit-warning">Add Question</button>
</form>
